@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Freckle+Face|Fredericka+the+Great|Love+Ya+Like+A+Sister|Special+Elite|Timmana');
.about {
  background-color: #eeeeee;    padding-top: 5%;  
  background-image: url('../img/borde.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  z-index: -5;
  height: 98vh;
  width: 100%;
  padding-top: 4em;
  .row{
    padding: 4%;
    .dgrimg{
      
      // background-color: black;
      img{
        width: 90%;
        border-radius: 1%;
        opacity: 1;
        transition: 'all 1s ease, opacity 1.5s ease';
      }
    }

    .text{
      font-size: 50px;
      font-family: 'Fredericka the Great', cursive;
      margin-top: 3%;
    }

    .mythings {
      margin: 0 auto;
      font-size: 1.2em;
      margin-top: 0.6em;
      margin-bottom: 0.6em;
      padding: 1.5em 0px;
      background-color: $color_rosa;
      border: 1px solid $color_rosa;
      color: $color_subtitulo;
      text-shadow: 1px 1px $color_bordeicon;
      border-radius: 3px;
      box-shadow: 0.5px 0.5px  $color_bordeicon;
      transition: all 0.7s ease;
    }
  }
}
@media screen and (max-width: 700px){
  .about{
    background-image:none;
  }
}
