@import '_variables';

.contacto-content {
  padding: 10% 0% 30% 0%;
  color: #393939;
  padding-bottom: 8em;
  background-image: url('../img/borde.png');
  background-size: cover;
  // position: relative;
  width: 100%;
  background-repeat: no-repeat; 
  .leterspac{
    margin-bottom: 5%;
  }
  .imgpng{
    width: 100%;
    height: 30px;
  }
  .title-section {
    font-family: 'Fredericka the Great', cursive;
    font-size: 55px;
    margin-bottom: 7%;
  }
  .contact-cols {
    margin-bottom: 2em;
    h4 {
      font-family:$subtitulo_fa;
    }
    .mr-1 {
      margin-right: 0.8em;
      font-size: 1.2em;
      color: $color_rosa;
    }
    a {
      text-decoration: none !important;
      i {
        text-decoration: none;
        background-color: $color_rosa;
        border: 1px solid $color_rosa;
        border-radius: 100%;
        padding: 3%;
        margin: 0 1%;
        color: white;
        font-size: 1.5em;
      }
    }
  }
  .icon-download2{
    font-size: 1.5em;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    border: 1px solid $color_rosa;
    color: $color_rosa;
    margin-right: 1em;
    text-decoration: none;
  }
}
@media screen and (max-width: 700px){
  .contacto-content{
    background-image:none;
    background-color: #eeeeee;
  }
}
.autor {
  background-color: $negro;
  color: white;
  padding: 1.2em 0;
}