@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Freckle+Face|Fredericka+the+Great|Love+Ya+Like+A+Sister|Special+Elite|Timmana');


// @media (min-width: 768px)
// {
// .container {
//     width: 750px;
// }
// }
.econt{
  padding-top: 5%;
}
.textt{
  margin-bottom: 5%;
}
.titleh{
  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;
}
.pngs{
  width: 40%;

}
