@import '_variables';
body{
  background-color: color_mocasin;
}
.navhome{
  background: -webkit-linear-gradient(left, rgba(136, 233, 233, 0.91) ,  $blanco); 
  background: -o-linear-gradient(left, rgba(5, 160, 124, 0.91) ,  $blanco);
  background: -moz-linear-gradient(left, rgba(5, 160, 124, 0.91) ,  $blanco); 
  background: linear-gradient(left, rgba(5, 160, 124, 0.91),  $blanco); 
  color:$color_subtitulo;
  .imglogo{
    margin-top: 0.2%;
    width: 3%;
    position: fixed;
    margin-left: 3%;
  }
  @media (max-width: 768px){
    .imglogo{
      width: 13%;
    }
  }
  li:hover{
    background-color: $turquesa;
  }
}
.bodyme{
  text-align: center;
  background-image: url('../img/cafe.jpg');
  background-size: cover;
  // position: relative;
  width: 100%;
  background-repeat: no-repeat; 
  opacity: 0.8;
  padding: 0 0 0 0;
  &__opac{
    background-color: rgba(43, 171, 133, 0.38);    padding-bottom: 310px;
    padding-top: 10%;
  }
  &__title{
    font-family: 'Fredericka the Great', cursive;
    color: #070707;
    letter-spacing: 0;
    // text-shadow: -3px -3px 3px  white, 3px -3px 3px  white, -3px 3px 3px  white, 3px 3px 3px white;
    text-shadow: -2px -2px 1px #F7F5F5, 2px 2px 1px #F5F2F2, -2px 2px 1px #F8F7F7, 2px -2px 1px #F8F5F5;
    font-size: 5em;
    font-weight: 600;
    margin: 0.5em 0 0.1em 0;
    margin-top: 0px;
  }
  &__subtitle{
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    margin-top: 3%;
    font-size: 3em;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    color:$color_rosa;
  }
  &__link {
    color: $subtitulo_fa;
    font-size: 1.5em;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    border: 1px solid $color_rosa;
    color: $color_rosa;
    margin-right: 1em;
    a{
      text-decoration: none;
    }
  }
}

