$color_titles:#BB2323;
$color_subtitulo:#F1ECEC;
$rojo:#E60202;
$blanco:white;
$negro:#231F20;
$turquesa: #2fccaf;
$color_rosa:#f75353;
$color_mocasin:moccasin;
$color_bordeicon:grey;


// FONT-FAMILIES
$titles_fa:'Lobster', cursive;
$subtitulo_fa: 'Raleway', sans-serif;
